beautifulsoup4==4.6.0
boto==2.48.0
boto3==1.7.55
botocore==1.10.55
bz2file==0.98
certifi==2018.4.16
celery==3.1.17
chardet==3.0.4
codegen==1.0
dj-database-url==0.5.0
Django==1.4.7
django-celery==3.2.1
docutils==0.14
futures==3.2.0
gensim==3.5.0
gunicorn==19.9.0
idna==2.7
include==0.2.1
jmespath==0.9.3
nltk==3.3
numpy==1.22.0
olefile==0.44
Pattern==2.6
patterns==0.3
Pillow==4.3.0
psycopg2==2.7.5
python-dateutil==2.7.3
requests==2.19.1
s3transfer==0.1.13
scikit-learn==0.19.2
scipy==1.1.0
six==1.11.0
smart-open==1.6.0
urllib3==1.23
virtualenv==16.0.0
whitenoise==2.0.6
Whoosh==2.7.4
