{% load staticfiles %}
<html>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
<link href="https://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="{% static 'css/carnaval.css' %}" />



<header>
<div class="page-header" style="color: #000000;font-size: 2cm;text-align: center;font-family: 'Lobster'">El carnaval, la voz del pueblo...</div>
</header>

<body>

<nav class="navbar navbar-light" style="background-color: #e3f2fd;" role="navigation">
	<div class="container-fluid">
	    <div class="navbar-header">
	            <a id="oculto1" class="navbar-brand" href="/"><img alt="Brand" src="static/images/hola.png"></a>
	    </div>
	    <ul class="nav navbar-nav" style="font-weight: bold;">
	            <li><a id="oculto" href="/populateLetras" role="button" onclick="show('layer')">Recoger Letras</a></li>
	        	<li><a id="oculto2" href="/populateNoticias" role="button" onclick="show2('layer')">Recoger Noticias</a></li>
	        	<li><a id="oculto3" href="/entrenarDatos" role="button" onclick="show3('layer')">Entrenar Datos</a></li>
	        	
	    </ul>
    </div>
</nav>


<div id="layer" style="display:none;">
<img id="layercarga" src="static/images/cargando.gif" />
</div>

    <script type="text/javascript">
	function show(bloq) {
	  obj = document.getElementById(bloq);
	  obj.style.display = (obj.style.display=='none') ? 'block' : 'block';
	  document.getElementById('oculto1').style.visibility ='hidden'
	  document.getElementById('oculto').style.visibility ='hidden'
	  document.getElementById('oculto2').style.visibility ='hidden'
	  document.getElementById('oculto3').style.visibility ='hidden'
	}
	</script>
	
	 <script type="text/javascript">
	function show2(bloq) {
	  obj = document.getElementById(bloq);
	  obj.style.display = (obj.style.display=='none') ? 'block' : 'block';
	  document.getElementById('oculto1').style.visibility ='hidden'
	  document.getElementById('oculto').style.visibility ='hidden'
	  document.getElementById('oculto2').style.visibility ='hidden'
	  document.getElementById('oculto3').style.visibility ='hidden'
	}
	</script>
	
	 <script type="text/javascript">
	function show3(bloq) {
	  obj = document.getElementById(bloq);
	  obj.style.display = (obj.style.display=='none') ? 'block' : 'block';
	}
	</script>

</body>
</html>
